* {
  margin: 0; }

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.ps-console {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: #4E98ED;
  box-shadow: inset 72.72727px 0 0 #c4c4c4, inset -123.63636px 0 0 #919191; }
  .ps-console:before {
    position: absolute;
    content: "";
    display: block;
    width: 200px;
    height: 21.81818px;
    background-color: #c4c4c4;
    top: 200px;
    box-shadow: inset 0 10.90909px 0 rgba(0, 0, 0, 0.1), inset 0 -8.72727px 0 rgba(0, 0, 0, 0.1), inset 72.72727px 0 0 #b7b7b7, inset -123.63636px 0 0 #848484, inset 0 10.90909px 0 #444, inset 0 -9.90909px 0 #444; }
