* {
  margin: 0; }

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #eee; }

.ps-console {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: #4E98ED;
  box-shadow: inset 72.72727px 0 0 #4d4d4d, inset -123.63636px 0 0 #737373, 10px 25px 40px #888, 0px 25px 20px #444;
  -webkit-animation: light 1s infinite alternate;
  -moz-animation: light 1s infinite alternate;
  animation: light 1s infinite alternate; }
  .ps-console:before {
    position: absolute;
    content: "";
    display: block;
    width: 200px;
    height: 25.45455px;
    background-color: #4d4d4d;
    top: 200px;
    box-shadow: inset 0 12.72727px 0 rgba(0, 0, 0, 0.1), inset 0 -10.18182px 0 rgba(0, 0, 0, 0.1), inset 72.72727px 0 0 #404040, inset -123.63636px 0 0 #666666, inset 0 12.72727px 0 #222, inset 0 -11.72727px 0 #222; }
  .ps-console:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../../../fonts/playstation.svg");
    background-position: center center;
    background-size: cover;
    transform: rotate(-90deg);
    position: absolute;
    left: 47.72727px;
    top: 8px; }

@-webkit-keyframes light {
  from {
    background-color: #4E98ED; }

  to {
    background-color: #7cb3f2; } }

@-moz-keyframes light {
  from {
    background-color: #4E98ED; }

  to {
    background-color: #7cb3f2; } }

@keyframes light {
  from {
    background-color: #4E98ED; }

  to {
    background-color: #7cb3f2; } }
