// @import"bourbon";
// @import"neat";
// @import"bootstrap";
// @import"font-awesome";
// @import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300);
@mixin center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}
* {
  margin: 0
}
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
$main-width: 200px;
$main-height: 200px;
$side-width:$main-width;
$side-height: (3/27.5)*$main-width;
$led-width:0.1*$main-width;
$left-width: (10/27.5)*$main-width;
$right-width:(17/27.5)*$main-width;

$side-gap-width:$side-height/10;

$main-left-color:lighten(#444,50%);
$main-right-color:lighten(#444,30%);
$side-left-color:darken($main-left-color, 5%);
$side-right-color:darken($main-right-color, 5%);
$led-color:#4E98ED;
$button-color:#444;


.ps-console {
  @include center;
  width: $main-width;
  height: $main-height;
  background-color: $led-color;
  box-shadow: inset $left-width 0 0 $main-left-color, 
  inset 0 - $right-width 0 0 $main-right-color;
  &:before {
    position: absolute;
    content: "";
    display: block;
    width: $side-width;
    height: $side-height;
    background-color: $main-left-color;
    top: $main-height;
    box-shadow: 
      inset 0 $side-height/2 0 rgba(0,0,0,.1),
      inset 0 0-$side-height/2+$side-gap-width 0 rgba(0,0,0,.1),
      inset $left-width 0 0 $side-left-color, 
      inset 0 - $right-width 0 0 $side-right-color,
      inset 0 $side-height/2 0 $button-color,
      inset 0 0-$side-height/2+1 0 $button-color;
    
  }

  transition:all 1s;

  &:hover{
    background-color: white;
  }
}